/*
* default.css
* this is the main css page
*
* author:Trevor Hebert
*
*/

body {
	background:lightgray;
    margin:0;

}

body p{
    font-size:18px;
}

#header {
	padding:40px;
	background-image:-webkit-linear-gradient(top, #1A4C80, #3399FF);
    background-image:-moz-linear-gradient(top, #1A4C80, #3399FF);
}

#header a{
    padding:10px 20px;
    background-color:white;
    border-radius:3px;
    text-decoration: none;
    color:black;
    font-weight: bold;
    text-transform: uppercase;
}

h1{
    color:#3399FF;
    text-transform: uppercase;
    font-family: 'Gorditas', cursive ;
    font-weight: normal;


}

#header a:hover{
    background-color:gray;
    color:white;
}

#content{
    background: #3399FF;
	padding:30px 40px ;
}

#footer{
	background-image:-webkit-linear-gradient(top, #3399FF, #1A4C80);
    background-image:-moz-linear-gradient(top, #3399FF, #1A4C80);
	padding:40px;
}

#footer p{
    color:white;
}

.page-content{
    background-color:white;
    padding:20px;
    border-radius:3px;
}

.page-content a{
    padding:10px;
    background: #3399FF;
    border-radius: 3px;
    color:White;
    text-decoration: none;
    margin-top:15px;
}

.page-content a:hover{
    background: #297ACC;
}

.page-content .msg{
    color:green;
}

form label{
    width:100px;
    display:inline-block;
    color:#3399FF;
}

form input{
    border:1px solid #3399FF;
    border-radius: 3px;
}

table th{
    text-align:left;
}

table{
    margin-bottom:30px;
}